{{#if userLoggedIn}}
<section>
  <form method="POST" action="/admin/logout" class="new-post-form">
    <button id="delete-button" class="btn btn-primary playground_logout_button" type="submit">Logout</button>
  </form>
  <div>
    <a href="/playground/add" class="btn btn-primary playground_add_button" >Add playground</a>
  </div>


</section>
{{/if}}
<form method="POST" action="/search" class="new-post-form">
  <div class="col-sm-6 text-black">
    <div class="form-outline mb-4">
      <input type="search" id="search" name="search" class="form-control form-control-lg" />
    </div>
    <div>
      <button class="btn btn-primary">Search</button>
    </div>
  </div>
</form>


<section class="bg-light pt-5 pb-5 shadow-sm">
  <div class="container">
    <div class="row">
      {{#if playgrounds.length}}
      {{#each playgrounds}}
      <div class="col-lg-4 mb-3 d-flex align-items-stretch">
        <div class="card card-playground">
          <img src="{{this.image}}" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{this.playgroundName}}</h5>
            <p class="card-text">{{this.location}}</p>
            <div id="main">
              <div style="float:left;"> <a href="/playground/{{this._id}}" class="btn btn-primary playground_button">View</a>
              </div>
              <div style="float: none;"><a href="/playground/{{this._id}}/edit" class="btn btn-primary playground_button"
                  >Edit</a></div>
              <div style="float: right;">
                <form method="POST" action="/playground/{{this._id}}/delete" class="new-post-form">
                  <button id="delete-button" class="btn btn-primary playground_button delete_button" type="submit">Delete</button>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
      {{/each}}
      {{else}}
      <div class="col-md-12">
        <h6 class="text-center">No playground found</h6>
      </div>
      {{/if}}
    </div>
  </div>
</section>