{{#if userLoggedIn}}
<section>
  <div>
    <button class="btn btn-primary"><a href="/playground/add" style="color: black;text-decoration:none">Add
        Playground</a></button>
  </div>

  <form method="POST" action="/admin/logout" class="new-post-form">
    <button id="delete-button" type="submit">Logout</button>
  </form>
  {{!-- <div>
    <button class="btn btn-primary"><a href="/admin/logout"
        style="color: black;text-decoration:none">Logout</a></button>
  </div> --}}
</section>
{{/if}}

<section id="playgrounds" class="my-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Playgrounds</h1>
      </div>
    </div>
    <div class="row">
      {{#if playgrounds.length}}
      {{#each playgrounds}}
      <div class="col-md-4 col-sm-12">
        <div class="card">
          <div class="card-body">
            <img src="{{this.image}}" class="card-img-top" alt="...">
            <h5 class="card-title">{{this.playgroundName}}{{this.image}}</h5>
            <p class="card-text">{{this.location}}</p>
            <a href="/playground/{{this._id}}" class="btn btn-primary">View</a>
            {{!-- {{#if ../userLoggedIn}} --}}
            <a href="/playground/{{this._id}}/edit" class="btn btn-primary" aria-disabled="true">Edit</a>

            {{!-- <a class="btn btn-primary" href="/playground/{{this._id}}/delete" aria-disabled="true">Delete</a> --}}

            <form method="POST" action="/playground/{{this._id}}/delete" class="new-post-form">
              <button id="delete-button" type="submit">Delete</button>
            </form>
            {{!-- {{/if}} --}}
          </div>
        </div>
      </div>
      {{/each}}
      {{else}}
      <div class="col-md-12">
        <h6 class="text-center">No playground found</h6>
      </div>
      {{/if}}
    </div>
  </div>


</section>