<section id="playground-container" class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <img src="{{playgrounds.image}}" class="img-fluid rounded" alt="...">
                            </div>
                            <div class="col-md-8 col-sm-12 align-self-end">
                                <h5 class="card-title">{{playgrounds.playgroundName}}</h5>
                                <p class="card-text">Location: {{playgrounds.location}}</p>
                                <p class="card-text">Time: {{playgrounds.schedule}}</p>
                                <p class="card-text">Size: {{playgrounds.playgroundSize}}</p>
                                <p class="card-text">Amenities:
                                    {{#each playgrounds.amenities}}
                                    <span class="badge bg-info">{{this}}</span>
                                    {{/each}}
                                </p>
                                <a href="/playground/{{playgrounds._id}}" class="btn btn-primary"
                                    aria-disabled="true">Join</a>
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 <section id="playground-comments">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Comments</h3>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form action="/comment/6276dab28fe50c2e603c1304/{{playgrounds._id}}/add" method="POST">
                            <div class="form-group">
                                <label for="comment">Comment</label>
                                <textarea class="form-control" id="commentValue" name="commentValue" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <ul class="list-group">
                            {{#each comments}}
                            <li class="list-group-item d-flex align-items-baseline justify-content-between">
                                <p class="card-text">{{this.comment}}</p>
                               
                                <div class="align-items-baseline d-flex">
                                    <span class="align-items-baseline d-flex">
                                        {{this.likes}} 
                                        <form method="post" action="/comment/{{this._id}}/like">
                                        <input type="hidden" name="playgroundId" id="playgroundId" value="{{this.playgroundId}}"/>
                                            <button type="submit" class="btn">
                                               <i class="fa-solid fa-thumbs-up"></i>
                                            </button>
                                        </form>

                                    </span>
                                     <span class="align-items-baseline d-flex">
                                        {{this.dislikes}} 
                                        <form method="post" action="/comment/{{this._id}}/dislike">
                                        <input type="hidden" name="playgroundId" id="playgroundId" value="{{this.playgroundId}}"/>
                                            <button type="submit" class="btn">
                                               <i class="fa-solid fa-thumbs-down"></i>
                                            </button>
                                        </form>

                                    </span>
                                   
                                </div>
                                 {{!-- <br><small>{{this.userId}}</small> --}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 